Assignment 12

This assignment involves building a simple calculator using Java Swing. The calculator shall allow the user to enter two values and then calculate their sum when the user clicks on the Calculate button. The GUI should look similar to the one below. You can left justify, center, or right justify the calculate button.
